* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    color: #022b3a;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 1s, margin 1s, width 1s, padding 1s, border-radius 1s, box-shadow 1s;
    z-index: 1000;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    top: 0;
    border-radius: 0px;
    width: 100%;
    padding: 15px 10%;
}

.hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    transition: transform 0.3s ease;
    color: black;
    justify-content: center;
    /* Center the items in the nav-links container */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    padding: 14px 15px;
    transition: transform 0.1s;
    color: black;
    position: relative;
}

.nav-links a:hover {
    transform: scale(1.1);
    background-color: #022b3a;
    color: white;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #022b3a;
    color: white;
    border: 1px solid white;
}

.half-circle {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 100vw;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    overflow: hidden;
    z-index: 1;
}

/* Starfield Canvas */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: 1; /* Place canvas behind content */
}

/* Text in Half-Circle */
.half-circle-text {
    color: white;
    background-color: #000;
    font-size: 4em;
    padding: 100px 20px 20px 20px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; /* Ensure it's above the canvas */
}

#contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    background-color: #ffffff;
}

.get-in-touch,
.make-appointment {
    flex: 1;
    padding: 20px;
}

.get-in-touch {
    margin-right: 20px;
}

.get-in-touch h3,
.make-appointment h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    padding-bottom: 10px;
}

.get-in-touch h1 {
    font-size: 36px;
    color: #022b3a;
    padding-bottom: 10px;
}

.get-in-touch p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding-right: 25px;
}

.contact-details {
    margin-top: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item img {
    width: 40px;
    margin-right: 15px;
}

.contact-item h4 {
    font-size: 16px;
    margin: 0;
    color: #222;
}

.contact-item p {
    font-size: 14px;
    color: #666;
}

.make-appointment {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
}

.make-appointment form {
    display: flex;
    flex-direction: column;
}

.make-appointment label {
    font-size: 14px;
    margin-top: 10px;
}

.make-appointment input,
.make-appointment textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.make-appointment button {
    margin-top: 15px;
    padding: 10px;
    background-color: #022b3a;
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.make-appointment button:hover {
    background-color: #00132b;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .get-in-touch,
    .make-appointment {
        margin: 0;
        padding: 10px;
    }

    .get-in-touch {
        margin-bottom: 30px;
    }

    .make-appointment {
        width: 100%;
    }
}

.footer {
    background-color: #022b3a;
    color: #ffffff;
    padding: 100px 0 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-section-1 {
    width: 30vw;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-tagline {
    margin: 20px 0 0 0;
    font-size: 16px;
    color: #cccccc;
}

#footer-button {
    display: inline-block;
    background-color: #ffffff;
    color: #0f2a44;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.more-links {
    margin-left: -125px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-bottom p {
    color: #cccccc;
}

.footer-bottom ul {
    display: flex;
    list-style: none;
}

.footer-bottom ul li {
    margin-left: 20px;
}

.footer-bottom ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-item-img {
    width: 25px;
    padding-right: 10px;
}

.color-icon {
    scale: 10;
}

@media (max-width: 850px) {
    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        width: 25%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;

        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}

@media (max-width: 850px) {
    .navbar.active {
        z-index: 1;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin-top: 1%;
        background-color: #ffffff;
        width: 25%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        z-index: -1;
        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}

/* Extra Small Devices (Mobile Phones) */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-container {
        width: 100%;
        justify-content: space-between;
    }

    .nav-links {
        width: 100%;
        background-color: #022b3a;
    }

    .nav-links a {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    #footer-contact {
        display: none;
    }
    
    #footer button {
        width: 100%;
    }

    .footer-section-1 {
        width: 60vw;
        padding-right: 20px;
    }
}