@media (max-width: 1500px) {
    #intro {
        padding: 50px 40px 50px 40px;
    }

    #intro-text {
        padding: 0;
    }

    #intro h2 {
        font-size: 2.2rem;
    }

    #intro p {
        font-size: 1rem;
    }

    #intro-img {
        width: 45vw;
    }

    #intro-button {
        width: 15vw;
    }
}

/* For screens 1100px and below */
@media (max-width: 1100px) {
    #intro {
        flex-direction: column;
        padding: 50px 30px 50px 30px;
    }

    #intro-text {
        padding: 0;
    }

    #intro h2 {
        font-size: 2rem;
    }

    .astronaut {
        display: none;
    }

    #intro p {
        font-size: 1rem;
    }

    #intro-img {
        width: 50vw;
    }

    #intro-button {
        width: 20vw;
    }
}

/* For screens 768px and below */
@media (max-width: 768px) {
    #intro {
        flex-direction: column;
        /* Stacks content vertically */
        padding: 40px 20px 50px 20px;
    }

    #intro-text {
        padding: 0;
        /* Removes right padding for better fit */
        text-align: center;
        /* Centers text */
    }

    #intro h2 {
        font-size: 1.8rem;
    }

    #intro p {
        font-size: 1rem;
    }

    #intro-img {
        width: 70vw;
    }

    #intro-button {
        width: 30vw;
        margin: 20px auto 50px auto;

    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    #intro {
        padding: 40px 10px 30px 10px;
    }

    #intro h2 {
        font-size: 1.5rem;
    }

    #intro p {
        font-size: 0.9rem;
    }

    #intro-img {
        width: 90vw;
    }

    #intro-button {
        width: 40vw;
    }
}

@media (max-width: 1500px) {
    #process {
        padding: 120px 50px;
    }

    #process h2 {
        font-size: 1.8rem;
        padding-bottom: 60px;
    }

    .process-step {
        max-width: 280px;
    }

    .process-step h3 {
        font-size: 1.2rem;
    }
}

/* For screens 1100px and below */
@media (max-width: 1100px) {
    #process {
        padding: 100px 40px;
    }

    #process h2 {
        font-size: 1.9rem;
        padding-bottom: 40px;
    }

    #process-steps {
        flex-direction: column;
        /* Stacks steps vertically */
        align-items: center;
    }

    .process-step {
        max-width: 800px;
        margin: 20px 0;
        padding: 40px;
    }

    .process-step h3 {
        font-size: 1.1rem;
    }
}

/* For screens 768px and below */
@media (max-width: 768px) {
    #process {
        padding: 80px 30px;
    }

    #process h2 {
        font-size: 1.7rem;
        padding-bottom: 40px;
    }

    .process-step {
        padding: 40px 15px;
        max-width: 90%;
    }

    .process-step h4 {
        font-size: 1rem;
    }

    .process-step h3 {
        font-size: 1rem;
    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    #process {
        padding: 60px 20px;
    }

    #process h2 {
        font-size: 1.4rem;
        padding-bottom: 30px;
    }

    .process-step {
        padding: 30px 10px;
        max-width: 95%;
    }

    .process-step h4 {
        font-size: 0.9rem;
    }

    .process-step h3 {
        font-size: 0.9rem;
    }
}

@media (min-width: 480px) {
    #testimonials {
        padding: 60px 30px;
    }

    #testimonials h2 {
        font-size: 2.2rem;
    }

    #coming-soon {
        padding: 40px;
        margin: 40px 100px;
        font-size: 1.75rem;
        text-align: center;
    }
}

/* For screens with width of 768px and above */
@media (min-width: 768px) {
    #testimonials {
        padding: 80px 50px;
    }

    #testimonials h2 {
        font-size: 2.5rem;
    }

    #coming-soon {
        padding: 50px 100px;
        margin: 50px 200px;
        font-size: 2rem;
        text-align: center;
    }
}

/* For screens with width of 1100px and above */
@media (min-width: 1100px) {
    #testimonials {
        padding: 100px 50px;
    }

    #testimonials h2 {
        font-size: 2.5rem;
    }

    #coming-soon {
        padding: 50px 100px;
        margin: 50px 250px;
        font-size: 2rem;
        text-align: center;
    }
}

/* For screens with width of 1500px and above */
@media (min-width: 1500px) {
    #coming-soon {
        padding: 50px 100px;
        margin: 50px 350px;
        font-size: 2.2rem;
    }
}

@media (max-width: 850px) {
    .navbar.active {
        z-index: 1;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin-top: 1%;
        background-color: #ffffff;
        width: 25%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        z-index: -1;
        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}

/* Extra Small Devices (Mobile Phones) */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-container {
        width: 100%;
        justify-content: space-between;
    }

    .nav-links {
        width: 100%;
        background-color: #022b3a;
    }

    .nav-links a {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 0.9rem;
    }
}