* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    color: #022b3a;
}

.navbar {
    position: absolute;
    min-height: 10vh;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 1s, margin 1s, width 1s, padding 1s, border-radius 1s, box-shadow 1s;
    z-index: 1000;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 15vw;
    min-height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    top: 0;
    border-radius: 0px;
    width: 100%;
    padding: 15px 10%;
}

.hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    transition: transform 0.3s ease;
    color: black;
    justify-content: center;
    /* Center the items in the nav-links container */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    padding: 14px 15px;
    transition: transform 0.1s;
    color: black;
    position: relative;
}

.nav-links a:hover {
    transform: scale(1.1);
    background-color: #022b3a;
    color: white;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #022b3a;
    color: white;
    border: 1px solid white;
}

.half-circle {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 100vw;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    overflow: hidden;
    z-index: 1;
}

/* Starfield Canvas */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: 1;
    /* Place canvas behind content */
}

/* Text in Half-Circle */
.half-circle-text {
    color: white;
    background-color: #000;
    font-size: 3.5rem;
    padding: 100px 20px 20px 20px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    /* Ensure it's above the canvas */
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 50px 100px;
}


#intro h2 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 25px;
}

#intro p {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 25px;
}

#intro-text {
    width: 70%;
}

#intro-img {
    width: 30vw;
}

#intro-img img {
    width: 100%;
}

#intro-button {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: #001f3f;
    width: 10vw;
    text-align: center;
    margin: 15px auto 25px 10px;
    scale: 1.1;
}

#intro-button:hover {
    background-color: #001f3f;
    color: white;
    transform: scale(1.05);
    transition: transform 0.5s, color 0.5s, background-color 0.5s;
}

.astronaut {
    position: absolute;
    display: flex;
    align-items: center;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(calc(-50% - 20px));
    }
}

#process {
    background-color: #e1e5f2;
    padding: 150px 75px;
}

#process-text h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-bottom: 50px;
    font-weight: 500;
}

#process-text p {
    padding-bottom: 40px;
}

#process-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#process-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10px;
    margin: 0px 10px;
}

.process-step {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 50px 20px;
    margin: 0px 25px;
}

.process-step:hover {
    scale: 1.05;
    transform: scale 1s;
}

.process-step h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #565656;
}

.process-step h3 {
    padding-bottom: 10px;
    font-size: 1.25rem;
}

#testimonials {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

#testimonials h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
}

#coming-soon {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    margin: 50px 350px 0px 350px;
    border: 1px solid #001f3f;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    background-color: #e1e5f2;
}

#team {
    padding: 100px;
    background-color: #e1e5f2;
}

#team h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 50px;
}

#team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.members img {
    width: 7.5vw;
    padding-bottom: 20px;
    border-radius: 50px;
}

.members h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.footer {
    background-color: #022b3a;
    color: #ffffff;
    padding: 100px 0 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-section-1 {
    width: 30vw;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-tagline {
    margin: 20px 0 0 0;
    font-size: 16px;
    color: #cccccc;
}

#footer-button {
    display: inline-block;
    background-color: #ffffff;
    color: #0f2a44;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.more-links {
    margin-left: -125px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-bottom p {
    color: #cccccc;
}

.footer-bottom ul {
    display: flex;
    list-style: none;
}

.footer-bottom ul li {
    margin-left: 20px;
}

.footer-bottom ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-item-img {
    width: 25px;
    padding-right: 10px;
}

.color-icon {
    scale: 10;
}

@media (max-width: 850px) {
    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        width: 25%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;

        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}

/* Make visible when scrolled into view */
.scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0);
}