* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    color: #022b3a;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 1s, margin 1s, width 1s, padding 1s, border-radius 1s, box-shadow 1s;
    z-index: 1000;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 200px;
    padding-top: 10px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    top: 0;
    border-radius: 0px;
    width: 100%;
    padding: 15px 10%;
}

.hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    transition: transform 0.3s ease;
    color: black;
    justify-content: center;
    /* Center the items in the nav-links container */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    padding: 14px 15px;
    transition: transform 0.1s;
    color: black;
    position: relative;
}

.nav-links a:hover {
    transform: scale(1.1);
    background-color: #022b3a;
    color: white;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #022b3a;
    color: white;
    border: 1px solid white;
}

.half-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 50vh;
    background-color: #022b3a;
    /* Replace with your desired color */
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    overflow: hidden;
}

.half-circle-text {
    color: white;
    /* Change to your desired text color */
    font-size: 3.8em;
    /* Adjust as needed */
    padding: 20px;
    /* Optional padding */
    margin: 25vh 0 0 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#faq {
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 55vh 50px 50px 50px;
}

#faq-head h1 {
    padding-bottom: 25px;
}

#faq-head h1,
p {
    display: flex;
    justify-content: center;
}

.faq-category {
    display: flex;
    justify-content: center;
    margin: 50px 50px 20px 50px;
    font-family: 'DM Sans', sans-serif;
}

.faq-category button {
    background-color: #022b3a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: -10px 50px 30px 50px;
    font-family: 'DM Sans', sans-serif;
    scale: 1.5;
}

.faq-category button:hover {
    background-color: #034e65;
}

.faq-question {
    background-color: white;
    border: 1px solid #aeaeaea0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #f1f1f1;
}

.faq-answer {
    display: none;
    /* Initially hide answers */
    padding: 10px 15px;
    border-bottom: 1px solid #cacaca;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.faq-answer.visible {
    display: block;
}

.footer {
    background-color: #022b3a;
    color: #ffffff;
    padding: 100px 0 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-section-1 {
    max-width: 30vw;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-tagline {
    margin: 20px 0 0 0;
    font-size: 16px;
    color: #cccccc;
}

.cta-button {
    display: inline-block;
    background-color: #ffffff;
    color: #0f2a44;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 50%;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.more-links {
    margin-left: -125px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-bottom p {
    color: #cccccc;
}

.footer-bottom ul {
    display: flex;
    list-style: none;
}

.footer-bottom ul li {
    margin-left: 20px;
}

.footer-bottom ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-item-img {
    width: 25px;
    padding-right: 10px;
}

@media (max-width: 850px) {
    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        width: 25%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;

        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}

@media (max-width: 1500px) {
    #faq-head h1 {
        font-size: 2.2rem;
    }

    .faq-category button {
        font-size: 0.95rem;
        padding: 10px 15px;
    }

    .faq-question {
        font-size: 1rem;
    }

    .faq-answer {
        font-size: 0.95rem;
    }
}

/* For screens 1100px and below */
@media (max-width: 1100px) {
    .half-circle-text {
        font-size: 3rem;
    }

    #faq-head h1 {
        font-size: 2rem;
    }

    #faq-head p {
        font-size: 0.95rem;
    }

    .faq-category button {
        width: 100%;
        font-size: 0.7rem;
        padding: 10px;
    }

    .faq-question {
        font-size: 0.95rem;
    }

    .faq-answer {
        font-size: 0.9rem;
    }
}

/* For screens 768px and below */
@media (max-width: 768px) {
    .half-circle-text {
        font-size: 2rem;
    }

    #faq-head h1 {
        font-size: 1.8rem;
    }

    .faq-category button {
        width: 20%;
        margin: 5px auto 25px auto;
    }

    .faq-question {
        padding: 10px 15px;
        font-size: 0.9rem;
    }

    .faq-answer {
        font-size: 0.85rem;
        padding: 10px 15px;
    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    #faq {
        padding: 20px 10px;
    }

    #faq-head h1 {
        font-size: 1.5rem;
    }

    #faq-head p {
        font-size: 0.85rem;
    }

    .faq-category button {
        width: 90%;
        font-size: 0.75rem;
        padding: 8px;
        text-align: center;
    }

    .faq-question {
        font-size: 0.85rem;
    }

    .faq-answer {
        font-size: 0.8rem;
    }
}