* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    color: #022b3a;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 1s, margin 1s, width 1s, padding 1s, border-radius 1s, box-shadow 1s;
    z-index: 1000;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 200px;
    padding-top: 10px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    top: 0;
    border-radius: 0px;
    width: 100%;
    padding: 15px 10%;
}

.hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    transition: transform 0.3s ease;
    color: black;
    justify-content: center;
    /* Center the items in the nav-links container */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    padding: 14px 15px;
    transition: transform 0.1s;
    color: black;
    position: relative;
}

.nav-links a:hover {
    transform: scale(1.1);
    background-color: #022b3a;
    color: white;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #022b3a;
    color: white;
    border: 1px solid white;
}

.half-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 50vh;
    background-color: #022b3a;
    /* Replace with your desired color */
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    overflow: hidden;
}

.half-circle-text {
    color: white;
    /* Change to your desired text color */
    font-size: 4em;
    /* Adjust as needed */
    padding: 20px;
    /* Optional padding */
    margin: 25vh 0 0 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main h2 {
    display: flex;
    justify-content: center;
    margin: 500px 50px 25px 50px;
    text-transform: uppercase;
    font-size: 2.5rem;
}

#main p {
    display: flex;
    justify-content: center;
    margin: 0px 150px 20px 150px;
    text-align: center;
}

#why {
    padding: 100px 150px;
    display: flex;
    justify-content: center;
}

#why-text h3 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 15px;
}

#why-text ul {
    font-size: 1.25rem;
}

#why-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

#why-img img {
    width: 50vw;
    height: 25vh;
    margin: 0 auto;
}

#list {
    padding-left: 20px;
}

.list-item {
    padding-bottom: 10px;
}

#reasons-section {
    display: flex;
    padding: 0 150px 50px 150px;
}

#reasons-img img {
    width: 15vw;
    height: 75vh;
    margin-right: 100px;
}

.reason h4 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.reason p {
    padding-bottom: 50px;
}


.footer {
    background-color: #022b3a;
    color: #ffffff;
    padding: 100px 0 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-section-1 {
    max-width: 30vw;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-tagline {
    margin: 20px 0 0 0;
    font-size: 16px;
    color: #cccccc;
}

.cta-button {
    display: inline-block;
    background-color: #ffffff;
    color: #0f2a44;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 50%;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.more-links {
    margin-left: -125px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-bottom p {
    color: #cccccc;
}

.footer-bottom ul {
    display: flex;
    list-style: none;
}

.footer-bottom ul li {
    margin-left: 20px;
}

.footer-bottom ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-item-img {
    width: 25px;
    padding-right: 10px;
}

#pricing {
    padding: 100px;
}

#pricing h2 {
    padding: 0px 50px 25px 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
}

#pricing-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 50px;
    /* Optional: to ensure some padding around the layout */
    box-sizing: border-box;
    /* Ensures padding is included in width calculations */
    flex-wrap: wrap;
}

#pricing-plans h3 {
    padding: 25px;
    font-weight: 500;
    font-size: 1.5rem;
}

#lump-sum,
#monthly-plan {
    margin: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.features {
    list-style: none;
    padding: 0 25px;
    text-align: left;
    width: 100%;
}

.features li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.25rem;
}

.features li:last-child {
    border-bottom: none;
}

.checkmark {
    color: #008000;
    justify-content: flex-end;
}

.crossmark {
    color: #d32f2f;
}

.price {
    margin-top: 20px;
    font-size: 1.5em;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.price span {
    display: inline;
    font-size: 0.6em;
    color: #777;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: #001f3f;
    width: 20vw;
    text-align: center;
    margin: 25px auto 25px auto;
    display: block;
}

.cta-button:hover {
    background-color: #001f3f;
    color: white;
    transform: scale(1.05);
    transition: transform 0.5s, color 0.5s, background-color 0.5s;
}

@media (max-width: 850px) {
    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        width: 25%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;

        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}