@media (min-width: 480px) {
    #pricing {
        padding: 40px 1%;
    }

    #lump-sum,
    #monthly-plan {
        width: 90%;
    }

    #pricing h2 {
        font-size: 2.2rem;
    }

    .features li {
        font-size: 1.1rem;
    }

    .price {
        font-size: 1.4rem;
    }
}

/* For screens with width of 768px and above */
@media (min-width: 768px) {
    #pricing {
        padding: 50px 30px;
    }

    #pricing h2 {
        font-size: 2.5rem;
    }

    #lump-sum,
    #monthly-plan {
        width: 90%;
    }

    .features li {
        font-size: 1.25rem;
    }

    .price {
        font-size: 1.5rem;
    }
}

/* For screens with width of 1100px and above */
@media (min-width: 1100px) {
    #pricing {
        padding: 75px 20px;
    }

    #pricing h2 {
        font-size: 2.8rem;
    }

    #pricing-plans {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #lump-sum,
    #monthly-plan {
        width: 45%;
        margin: 20px;
    }

    .features li {
        font-size: 1.3rem;
    }

    .price {
        font-size: 1.6rem;
    }
}

/* For screens with width of 1500px and above */
@media (min-width: 1500px) {
    #pricing h2 {
        font-size: 3rem;
    }

    #lump-sum,
    #monthly-plan {
        width: 30%;
    }

    .features li {
        font-size: 1.4rem;
    }

    .price {
        font-size: 1.75rem;
    }
}

@media (max-width: 1500px) {
    #main h2 {
        margin: 50px 30px 20px 30px;
        font-size: 2.2rem;
    }

    #main p {
        margin: 0px 100px 20px 100px;
    }
}

@media (max-width: 1100px) {
    #main h2 {
        margin: 50px 20px 15px 20px;
        font-size: 2rem;
    }

    #main p {
        margin: 0px 50px 15px 50px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    #main h2 {
        margin: 50px 15px 10px 15px;
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #main p {
        margin: 0px 20px 10px 20px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    #main h2 {
        margin: 100px 10px 5px 10px;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #main p {
        margin: 0px 10px 5px 10px;
        font-size: 0.8rem;
    }
}

@media (max-width: 1500px) {
    #why {
        padding: 80px 100px;
    }

    #why-text h3 {
        font-size: 1.8rem;
    }

    #why-text ul {
        font-size: 1.1rem;
    }
}

@media (max-width: 1100px) {
    #why {
        padding: 60px 80px;
    }

    #why-text h3 {
        font-size: 1.6rem;
    }

    #why-text ul {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    #why {
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
    }

    #why-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        align-self: center;
        text-align: center;
    }

    #why-text h3 {
        font-size: 1.4rem;
    }

    #why-text ul {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    #why {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }

    #why-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        align-self: center;
        text-align: center;
    }

    #why-text h3 {
        font-size: 1.2rem;
    }

    #why-text ul {
        font-size: 1rem;
    }
}

@media (max-width: 1500px) {
    #reasons-section {
        padding: 0 100px 50px 100px;
    }

    #reasons-img img {
        width: 20vw;
        height: 60vh;
        margin-right: 50px;
    }

    .reason h4 {
        font-size: 1.4rem;
    }

    .reason p {
        font-size: 1rem;
        padding-bottom: 40px;
    }
}

/* For screens 1100px and below */
@media (max-width: 1100px) {
    #reasons-section {
        padding: 0 80px 50px 80px;
    }

    #reasons-img {
        display: none;
        /* Hides the image */
    }

    #reasons-img img {
        width: 25vw;
        height: 50vh;
        margin-right: 30px;
    }

    .reason h4 {
        font-size: 1.3rem;
    }

    .reason p {
        font-size: 0.95rem;
        padding-bottom: 35px;
    }
}

/* For screens 768px and below */
@media (max-width: 768px) {
    #reasons-section {
        padding: 0 20px 50px 20px;
    }

    .reason h4 {
        font-size: 1.2rem;
    }

    .reason p {
        font-size: 0.9rem;
        padding-bottom: 30px;
    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    #reasons-section {
        padding: 0 10px 50px 10px;
    }

    .reason h4 {
        font-size: 1.1rem;
    }

    .reason p {
        font-size: 0.85rem;
        padding-bottom: 25px;
    }
}

@media (max-width: 850px) {
    .navbar.active {
        z-index: 1;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        /* Below the navbar */
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        /* Hide initially */
    }

    .nav-links.active {
        padding: 0;
        margin-top: 1%;
        background-color: #ffffff;
        width: 25%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        z-index: -1;
        /* Slide down */
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
    }

    .navbar {
        padding: 10px 5%;
        font-size: 1rem;
    }
}

/* Extra Small Devices (Mobile Phones) */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-container {
        width: 100%;
        justify-content: space-between;
    }

    .nav-links {
        width: 100%;
        background-color: #022b3a;
    }

    .nav-links a {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 0.9rem;
    }
}